body{
  background-color: #FFFFFF;
}
html, body {
  height: 100%;
  width: 100%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.header{
  display: flex;
  flex-direction: row;
}
.churchInfo{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
#mobileMenu{
  position: absolute;
  top: 10px;
  right: 10px;
}
#churchName{
    font-family: 'Helvetica Neue', sans-serif; 
		font-size: 50px;
		font-weight: bold;
		letter-spacing: -1px; 
    color:  #836953;
}
.pageTitle{
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px; 
  color:  #836953;
  padding-bottom: 20px;
}
#pastor{
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px; 
  position: relative;
  bottom: 55px;
}
#address {
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
  position: relative;
  bottom: 77px;
}
.menu{
  position: relative;
  bottom: 40px;
}
.menuLink{
  color: #836953;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
}

.menuLink:hover, .dropDownMenuLink:hover {
  color: black;
}

.menuBtn:hover{
  cursor: pointer;
}

.dropDownMenu{
  display: flex;
  flex-direction: column; 
  position: relative;
  bottom: 40px;
}
.dropDownMenuLink{
  color: #836953;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 20px;
}
.churchImg{
  border-radius: 5px;
  max-width: 100%;
  position: relative;
  left: 17px;
}
ul li{
  list-style: none;
  line-height: 30px;
  font-family: 'Helvetica Neue', sans-serif; 
  font-weight: 400;
}
.sectionHeader {
  color: #836953;
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 20px;
  font-weight: bold;
}
.sectionHeaderBrown{
  color: #836953;
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 20px;
  font-weight: bold;
}
/* Events */
.eventsContainer{
  width: 100%;
  height: 100%;
  margin: unset;
  padding: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconImage {
  margin-left: 20px;
}
/* Mission */
.missionContainer{
  /* background-color:  #836953; */
  width: 100%;
  max-width: 100%;
  margin: unset;
  padding: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.missionStatement{
  width: 600px;
  font-family: 'Helvetica Neue', sans-serif; 
  line-height: 30px;
  padding: 10px;

}
/* Services */
.servicesContainer {
  width: 100%;
  height: 100%;
  margin: unset;
  padding: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

/* Pastors Desk */
.pastorDeskContainer h3 {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
}
.pastorDeskContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.pastorDeskContainer a {
  color: #836953;
  text-decoration: none;
  font-weight: bold;
}
.pastorDeskContainer img {
  border-radius: 5px;
}
.pastorDeskContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  position: relative;
  bottom: 90px;
}
.pastorDeskContent ul li {
  margin-bottom: 10px;
}

@media  (max-width: 750px){
  .missionStatement{
      width: unset;
      max-width: 100%;
  }
}
/* Footer */
.footerContainer {
  display: flex;
  flex-direction: row;
}
/* ministries */
.ministriesContainer{
  margin-bottom: 50px;
}
/* visitors  */
.visitorsContainer {
  display: flex;
  flex-direction: column;
}
.visitorsContainer button {
  background-color: #836953;
    color: white;
    height: 50px;
    font-weight: lighter;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 4px;
}
.visitorMessage{
  width: 358px;
  font-family: sans-serif;
  line-height: 25px;
}
.visitorMessage2{
  width: 358px;
  font-family: sans-serif;
    line-height: 20px;
    color: #836953;
    font-weight: bold;
}
.visitorsContainer form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.textarea {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  padding: 10px;
  position: relative;
  display: block;
  transform-origin: top left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}
/* */
.ministriesRow{
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
  text-decoration: none;
  margin-right: 20px;
}
.ministriesRow:nth-of-type(2) {
  margin-left: 45px;
}
.ministriesRow p{
  margin-right: 10px;
}
.minsitryLine{
  color: #836953;
  width: 20px;
}
/* photos */
.photoMsg {
  max-width: 500px;
  text-align: left;
  line-height: 24px;
  font-family: 'Helvetica Neue', sans-serif;
  border-left: 5px #836953 solid;
  padding-left: 10px;
}
@media (max-width: 400px){
  .visitorsContainer {
    display: flex;
    flex-direction: column;
  }
  .visitorMessage{
    width: fit-content;
  }
  .visitorMessage2{
    width: fit-content;
  }
}
@media (max-width: 500px){
  .ministriesRow{
    display: flex;
    flex-direction: column;
  }
  .ministriesRow:nth-of-type(2) {
    margin-left: unset;
  }
  .minsitryLine{
    display: none;
  }

}
@media  (max-width: 750px){
  .menu{
    display: none;
  }
  .churchImg{
    position: relative;
    left: unset;
  }
}
@media  (max-width: 1000px){
  .footerContainer {
    display: flex;
    flex-direction: column;
  }

  .pastorDeskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .pastorDeskContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    position: relative;
    bottom: unset;
  }
}

@media (min-width: 751px){
  #mobileMenu, .dropDownMenu{
    display: none;
  }
  .menu{
    display: inline;
  }
}

